{% extends "ThemeBundle:layout:base-layout.html.twig" %}

{% block page_title %}Current References{% endblock %}
{% block page_subtitle %}{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-sm-12">
            {% include '@Supplier/Profile/notification.html.twig' %}
            {% include '@Supplier/Profile/feedback.html.twig' %}
            <div class="box box-primary">
                <div class="box-header with-border alert " style="background-color: #cbc22e; color: black;">
                    {% if supplier.outSourcing %}            
                        <h4>Please provide contact details for two current customers who will act as a reference for your business.</h4>
                        Please note this is for our (CX Connect) purposes only. We will not be proving customer references to potential leads.<br>
                        If you'd like to include customer references when you send a proposal to a customer that will be entirely at your discretion.
                    {% endif %}
                    {% if supplier.virtualAssistant %}
                        <h5 class="box-title">Please provide two recent or current customer references who can endorse your Virtual Assistance skills.</h4>
                        The references may be contacted as part of our assessment process however we will not release their details to prospective customers.
                    {% endif %}                    
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                {{ form_start(form, {'attr': {'class': 'dirty-check'}}) }}
                <div class="box-body">
                    <div class="row">
                    {% for reference in form.currentReferences %}
                        <div class="col-sm-6">
                            <div class="panel panel-default">
                                <div class="panel-heading"><h3>Reference {{ loop.index }}</h3></div>
                                <div class="panel-body">
                                    {{ form_widget(reference) }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn btn-success" disabled>Save</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts_inline %}
    {{ parent() }}
    <script type="text/javascript">
        $('#supplierbundle_reference_currentReferences_0_workPhone').mask('(+99) 999-9999');
        $('#supplierbundle_reference_currentReferences_1_workPhone').mask('(+99) 999-9999');
    </script>
{% endblock %}