{% extends "ThemeBundle:layout:base-layout.html.twig" %}

{% block page_title %}Experience{% endblock %}
{% block page_subtitle %}{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-sm-12">
            {% include '@Supplier/Profile/notification.html.twig' %}
            {% include '@Supplier/Profile/feedback.html.twig' %}
            <div class="box box-primary">
                <div class="box-header with-border alert alert-info">
                    <div class="row experience_header">
                        <div class="col-sm-12">
                            <h3 class="box-title">Please provide the number of years you have been actively been providing the following services:</h3>
                            <h5>Please provide a self assessment of your skill level</h5>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                {% if supplier.outSourcing %} 
                    {{ form_start(form, {'attr': {'class': 'dirty-check'}}) }}
                    <div class="box-body">
                        <div class="row">
                        {% for experience in form.experiences %}
                            <div class="col-sm-6">
                                <div class="panel panel-default">
                                    
                                    <div class="panel-body">
                                        <div class="col col-sm-4">
                                        {{ form_widget(experience.function) }}
                                        <h4 class="experience_title">{{ form_label(experience.yearsExperience, functions[loop.index0]) }}</h4>
                                        </div>
                                        <div class="col col-sm-4 with_label">
                                            {{ form_row(experience.yearsExperience) }}
                                        </div>
                                        <div class="col col-sm-4 with_label">
                                            {{ form_row(experience.selfRating) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                {% endif %}
                {% if supplier.virtualAssistant %}
                    {{ form_start(form, {'attr': {'class': 'dirty-check'}}) }}
                    <div class="box-body">
                        <div class="row">
                        {% for experience in form.experiences %}
                            <div class="col-sm-6">
                                <div class="panel panel-default">
                                                                    
                                    <div class="panel-body">
                                        <div class="col col-sm-4">
                                        {{ form_widget(experience.function) }}
                                        <h4 class="experience_title">{{ form_label(experience.yearsExperience, vafunctions[loop.index0]) }}</h4>
                                        </div>
                                        <div class="col col-sm-4 with_label">
                                            {{ form_row(experience.yearsExperience) }}
                                        </div>
                                        <div class="col col-sm-4 with_label">
                                            {{ form_row(experience.selfRating) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                {% endif %}
                    {# {% set count = 0 %}
                    {% for experience in form.experiences %}
                        {% if (count % 2 == 0) %}
                        <div class="row experience_row">
                        {% endif %}
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col col-sm-4">
                                    {{ form_widget(experience.function) }}
                                    <h4 class="experience_title">{{ form_label(experience.yearsExperience, functions[loop.index0]) }}</h4>
                                </div>
                                <div class="col col-sm-4 with_label">
                                    {{ form_row(experience.yearsExperience) }}
                                </div>
                                <div class="col col-sm-4 with_label">
                                    {{ form_row(experience.selfRating) }}
                                </div>
                            </div>
                        </div>

                        {% if (count % 2 == 1) %}
                        </div>
                        {% endif %}

                        {% set count = count + 1 %}
                    {% endfor %}

                    {% if (count % 2 == 0) %}
                    </div>
                    {% endif %} #}             

                
                <!-- /.box-body -->

                <div class="box-footer">
                    <button type="submit" class="btn btn-success">Update</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts_inline %}
    {{ parent() }}
    <script type="text/javascript">
        var init_text = 'Please select ...';
       
        $('.year-experience').change(function() {    
            var yearExperience = $(this);
            var row = yearExperience.closest('div.panel-body');
            //console.log(init_text);
            if ((yearExperience.val() === 'Nil')) {
                
                row.find('.self-rating>option:selected').html('Not applicable');
                //row.find('.self-rating>option:eq(0)').html('Not applicable');
                
                //console.log(row.find('.self-rating').val());
                row.find('.self-rating').prop('disabled', true);
                //row.find('.self-rating').attr('disabled', 'disabled');
              
            } else {
                //row.find('.self-rating>option:eq(0)').html(init_text);
                             
                row.find('.self-rating').prop('disabled', false);
                $('.self-rating').change(function() {
                    row.find('.self-rating>option:selected').html(init_text);
                    var selfrating = $(this);  
                    var row = selfrating.closest('div.panel-body');
                    init_text = row.find('.self-rating>option:selected').html();                    
                })
            }
        }).change();         
    
        {# $('.year-experience').click(function(){
            if( $('.year-experience').val()=='Nil')
                console.log('changed');
        }) #}
        
    </script>
{% endblock %}
